
<mat-toolbar color="#d5bee7">
    <label color="primary">Sparepart shop List</label> 
    <input type="text" [(ngModel)]="searchText" placeholder="Search" class="class3" >
 
 
 </mat-toolbar>
 <div class = "container" >
     <table class = "table">
         <tr>
             <th >id</th>
             <th>name</th>
             <th>email</th>
             <th>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;action</th>
         </tr>
 
         <tr *ngFor= "let spare of spares | filter:searchText" >
             <td>{{spare.id}}</td>
             <td>{{spare.name}}</td>
             <td>{{spare.email}}</td>
             <td>  <button mat-raised-button color="primary" routerLink="/spprofile" >View</button>
                 <button mat-raised-button color="primary" (click)="openDialog()" class="class1">Delete</button>
                 
             </td>
         </tr>
     </table>
 
 </div>