.login__page{
  height: 100%;
  width: 100%;
  background-color: purple;
  display: flex;
  flex-direction: column;
}


.login__card{
  width: 80%;
  height: 80%;
  margin:  auto;
  text-align: center;
  background-color: white;
}

mat-form-field{
  width: 90%;
  max-width: auto;
}
