
    
    <a routerLink="/"></a>
    <mat-toolbar color="primary">
        <button mat-icon-button class="example-icon" [matMenuTriggerFor]="menu" aria-label="Example icon-button with menu icon">
          <mat-icon>menu</mat-icon>
        </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="dashbord">
                <mat-icon>home</mat-icon>
                <span>Home</span>
                </button>
                
                <button mat-menu-item>
                <mat-icon>notifications_off</mat-icon>
                <span>Disable alerts</span>
                </button>
            </mat-menu>
        <span>Admin Panel</span>
        <span class="example-spacer"></span>
      </mat-toolbar>
 
<router-outlet>
</router-outlet>
